body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url("../assets/background.png");
  background-repeat: no-repeat;
  background-size: content;
}

header {
  .top-header {
    display: flex;
  }
  h1 {
    text-align: center;
  }
}
