@import "../assets/_variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  background-image: url("../assets/background.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  cursor: $cursor;

  h1 {
    font-family: $BalonkuRegular;
    text-align: center;
    font-size: clamp(1.8em, 5vw, 4em);
    color: $colorViolet;
    margin-top: 1rem;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .redirecting {
    font-family: $QuartzoBold;
    text-align: center;
    font-size: clamp(2em, 8vw, 3em);
    margin-bottom: 1.4rem;
  }
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.app-start {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;

  .app-img-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    .app-terriermon {
      position: relative;
      z-index: 1;
      width: 80%;
      margin-top: -2rem;
      margin-bottom: 1rem;
      margin-left: 2%;
    }
    .app-btn {
      background-color: $colorVioletDark;
      border: $borderBlack;
      color: $colorwhite;
      border-radius: 20px;
      padding: 2px 15px;
      font-size: clamp(1.2em, 5vw, 2em);
      cursor: $cursorMain;
      &:hover {
        box-shadow: 0px 0px 10px 0px $colorBlack;
      }
    }
  }
}

header {
  width: 90vw;
  .top-header {
    display: flex;
    align-items: baseline;
    gap: 0.5rem;
    margin-top: 5px;
    .header-profile {
      display: flex;
      align-items: center;
      flex-direction: column;
      .header-img {
        width: clamp(60px, 11vw, 100px);
        height: clamp(60px, 11vw, 100px);
        border-radius: 50%;
        border: 1px solid $colorVioletDark;
      }
      .header-username {
        position: relative;
        top: -10px;
        font-size: clamp(0.8em, 2.5vw, 1.5em);
        background: $backgroundGrey;
        border-radius: 20px 0 20px 0;
        padding: 0 10px;
        border: 1px solid $colorVioletDark;
      }
    }
    .header-dp {
      font-weight: 900;
      color: $colorVioletDark;
      box-shadow: $boxShadow;
      border-radius: 20px;
      padding: 2px 15px;
      font-size: clamp(1em, 2.5vw, 1.5em);
    }
  }
}
.home {
  .home-img {
    width: clamp(13rem, 44vw, 24rem);
    cursor: $cursorMain;
  }
}

.Loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  font-family: $QuartzoBold;
  font-size: clamp(3em, 8vw, 5em);
  text-align: center;
}
