@import "../assets/variables.scss";

.connect {
  margin-bottom: -1rem;
  display: flex;
  flex-direction: column;
  background: $backgroundViolet;
  border: $borderBlack;
  border-radius: 20px;
  padding: 1rem;
  box-shadow: $boxShadow;

  .connect-h2 {
    font-family: $QuartzoBold;
    text-align: center;
    font-size: clamp(2em, 8vw, 3em);
    margin-bottom: 1.4rem;
  }
  .connect-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;

    .connect-input {
      background: $backgroundGrey;
      border: $borderBlack;
      border-radius: 10px;
      padding: 5px 10px;
      font-size: clamp(1em, 5vw, 1.8em);
      &:focus {
        outline: none;
        color: $colorBlack;
        font-weight: 700;
      }
      &::placeholder {
        color: rgba(0, 0, 0, 0.461);
        font-weight: 700;
        text-align: center;
      }
    }
    .connect-btn {
      background-color: $colorVioletDark;
      border: $borderBlack;
      color: $colorwhite;
      border-radius: 20px;
      padding: 2px 15px;
      font-size: clamp(1.2em, 5vw, 2em);
      cursor: pointer;
      &:hover {
        box-shadow: 0px 0px 10px 0px $colorBlack;
      }
    }
  }
}
