@import "../assets/variables.scss";

.nav {
  position: fixed;
  right: 0;
  top: 13px;
  border: $borderBlack;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3px;
  border-radius: 15px;
  margin: 5px;
  background-color: $colorViolet;
  button {
    border: none;
    background: none;
    img {
      width: clamp(40px, 8vw, 60px);
      cursor: $cursorMain;
    }
  }
  ul {
    padding: clamp(0px, 2vw, 15px);
    li {
      font-size: clamp(1.1em, 3vw, 1.9em);
      list-style: none;
      margin: clamp(0px, 2vw, 15px);
      .navbar-li {
        padding: 0 10px;
        text-decoration: none;
        color: $colorwhite;
        cursor: $cursorMain;
        &:hover {
          border-radius: 10px;
          color: $colorVioletDark;
          background: $colorwhite;
        }
      }
      .navbar-li-logout {
        font-size: clamp(0.8em, 2vw, 1.7em);
        font-weight: 100;
        color: bisque;
      }
    }
  }
}
.navbordernone {
  position: fixed;
  right: 0;
  top: 13px;
  border: none;
  background-color: none;
  padding: 3px;
  border-radius: 15px;
  margin: 5px;
  align-items: center;
  button {
    border: none;
    background: none;
    img {
      width: clamp(40px, 8vw, 60px);
      cursor: $cursorMain;
    }
  }
}
